.navbar-brand {
	padding-top: 3px;
}

.panel-default {
	margin-left: 15px;
	margin-right: 15px;
}

.alert {
	margin-left: 15px;
	margin-right: 15px;
}

.rd-link-panel {
	float: right;
	padding: 0px;
}

.rd-titulo-panel {
	float: left;
	padding-top: 2px;
}